.chart-container {
  position: relative;
  height: 55vh;
  width: 100%;
}

ion-card-title {
  font-size: 1.5rem;
  font-weight: bold;
  color: var(--stat-card-title-color);
}

ion-card-subtitle {
  text-transform: uppercase;
  font-size: 0.8rem;
  color: var(--stat-card-subtitle-color);
}

.button-container {
  padding: 16px 16px 0 16px; /* Standard padding top/left/right, 0 bottom */
  display: flex;
  justify-content: center;
}
